/*=========================*/
/*======BASIC SETUP========*/
/*=========================*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
	overflow;hidden !important;
}
body{
    font-family: 'Roboto', sans-serif;
		
}
h4,h5{
    font-family: 'Poiret One', cursive;
    letter-spacing: 1px;
}
h1 h2 h3 h4 h5 h6{
    margin: 0;
    font-weight: 600;
    line-height: 1.4;
}
h4{
    text-align: center;
    font-weight: 600;
	font-size: 30px;
	margin-bottom: 30px;
}
h3{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: #23003b;
    line-height: 1.3;
    font-weight: 400;
    font-size: 14px;

}
p{
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #999;
    line-height: 1.8;
    
   
}
i{
    text-align: center;
    font-size: 2rem;
    list-style: none;
}
img{
	width:100%
}
a{
    text-decoration: none;
    margin-right: 5px;
    padding:8px ;
    text-decoration: none;
    color: #EEEEEE;
    font-size:13px ;
}
/*---------BUTTON-------*/
/*---------BUTTON-------*/
/*---------BUTTON-------*/
.btn:link,
.btn:visited,
.btn{
    padding: 12px 30px;
    border: 1px solid transparent;
	background: linear-gradient(to right, #52a4de, #7146f3);
    position: relative;
    z-index: 5;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    transition: all .4s;
    cursor: pointer;
    outline: none !important;
    overflow: hidden;
	color:white !important;
}
.btn:hover{
	background: #fff !important;
    color: #7146F3 !important;
    border: 1px solid #7146F3;
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    -webkit-transition: .7s;
    transition: all .7s;
    border: 1px solid  #7146F3;
}

.btn::before{
	content: '';
    width: 0;
    height: 0;
	position:absolute;
	background-color:#000;
	opacity:0;
	border-radius:40px;
}
.btn:hover::before{
   content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: width 0.4s;
    transition: width 0.7s;
    z-index: -1;
    opacity: .4;
}
li{
    list-style: none;
	float: left;
	padding: 10px;
}

li:first-child{
    margin-left: 0;
}
/*=========================*/
/*======ALL CONTAINER========*/
/*=========================*/
.container{
    max-width: 1140px;
    margin: auto;
}
section{
        padding: 75px 100px;
		text-align:center !important;
		margin-bottom: 80px;
		padding-bottom: 20px;
}
.service-head{
    margin-bottom: 70px;
    overflow: hidden;
    position: relative;
}
.service-head::after{
	content: '';
    width: 120px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 60px);
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#7146f3), to(transparent));
    background: linear-gradient(to right, transparent, #7146f3, transparent);
}
/*=========================*/
/*======HEADER PART========*/
/*=========================*/
header{
    height:100vh;
    background-position: center top;
    width:100%;
    background-image:linear-gradient(#131111a4,#111010cb),url("../images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.top-bar{
    width: 100%;
    left: 0;
    background: #00000061;
    height: 80px;
	position:fixed;
    z-index:10;
}
.logo{
    height: 120px;
    width: auto;
    margin-top: -20px;
    float: left;
    margin-left: 100px;
}
.main-menu {
   float: right;
   padding: 25px 30px;
   margin-right: 100px;
}
.main-menu li a:hover{
    color: #7146F3 !important;
    position: relative;
    background: #6e66661f;
    border-radius: 5px;
}
.main-menu li a:hover::after{

    height: 1px;
    width: 35px;
    position: absolute;
    content: "";
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    top: 30px;
    margin: auto;
    background-color: #7146F3 !important;
}
.active{
    color: #7146F3 !important;
}

/*=========================*/
/*======HOME PART========*/
/*=========================*/
#home{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin:auto;
    width: 100%;
    text-align: center;
    padding-top:100px;
}
#home h4{
   color: #fff;
   font-weight: 400;
   letter-spacing: 3px;
   font-size: 1.9rem;
}
#home h3{
   color: #fff;
   font-weight: 1000;
   letter-spacing: 3px;
   font-size: 3.8rem;
   padding: 15px 0px;
}
#home p{
   color: #fff;
   font-weight: 200;
   letter-spacing: 1px;
   font-size: 1.1rem;
   margin-bottom:20px;
}

/*=========================*/
/*======ABOUT PART ========*/
/*=========================*/
#about {
    overflow: hidden;
    width: 100%;
    background-color: #d4cfe071;
}
#about .content{
    padding: 50px 0px;
}
#about .content p{
    font-weight: 100;
    margin-top: 15px;
    position: relative;
    padding-bottom: 30px;
    letter-spacing: 1px;
 }
 #about h3{
     color: #23003B;  
    font-weight: 900;
    font-size: 2.25rem;
    letter-spacing: 1px;
 }
 #about h4{
    font-weight: 1000;
    font-size: 1.5rem;
    padding-bottom: 10px;
    color: #7146f3;
    margin-bottom: 10px;
}

 
/*---- ==== About Part 02 ====---*/
/*---- ==== About Part 02 ====---*/
/*---- ==== About Part 02 ====---*/

#about .box{
    padding: 60px 10px;
    background: #fff;
    -webkit-box-shadow: 0px 10px 44px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 44px -5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    height:300px;
    width:250px;
    margin:17px;
    padding: 19px;
}
#about i{
    color:#6E44ED;
    font-size: 25px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    background: rgba(128, 113, 172, 0.048);
    position: relative;
    z-index: 2;
}
#about h5{
    font-size:1rem;
    font-family: sans-serif;
   padding: 2rem;
}
#about .b1:hover{
    background:linear-gradient(rgba(0, 0, 0, 0.74),rgba(0, 0, 0, 0.705)),url(../images/1.jpg);
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff !important;
    box-shadow: 0px 10px 44px -5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
}
#about .b2:hover{
    background:linear-gradient(rgba(0, 0, 0, 0.74),rgba(0, 0, 0, 0.705)),url(../images/2.jpg);
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff !important;
    box-shadow: 0px 10px 44px -5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
}
#about .b3:hover{
    background:linear-gradient(rgba(0, 0, 0, 0.74),rgba(0, 0, 0, 0.705)),url(../images/3.jpg);
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff !important;
    box-shadow: 0px 10px 44px -5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
}
#about .b4:hover{
    background:linear-gradient(rgba(0, 0, 0, 0.74),rgba(0, 0, 0, 0.705)),url(../images/4.jpg);
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff !important;
    box-shadow: 0px 10px 44px -5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
}
/*=========================*/
/*=====Why Choose Us part========*/
/*=========================*/
#choose-us{
    overflow: hidden;
    width: 100%;
   
}
#choose-us .content{
    text-align: left !important;
}
iframe{
margin-right:-100px !important;
border-radius: 10px 50px 10px 50px;
border: 4px solid  rgba(20, 221, 20, 0.336);
}
#choose-us h3{
    color: #7146f3;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
}
#choose-us h2{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: left;
}
#choose-us h6{
    font-size: 16px;
    font-weight: 500;
    word-spacing: 2px;
    line-height: 1.7;
    color: #8e8e8e;
    text-align: left;
}
#choose-us p{
    text-align: left;
}
/*=========================*/
/*====PROGRESS BAR========*/
/*=========================*/
.progress-bar{
    width: 100%;
    height: 7px;
    background: #f7f7f7;
    border-radius: 30px;
    position: relative;
    -webkit-box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.08) inset;
    box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.08) inset;
    margin-left: 20px;
	
}
#choose-us h5{
    font-size: 16px;
    margin-bottom: 10px;
}
.progress-bar1{
    top: 0;
    left: 0;
    background: #7146f3;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 2rem 2rem;
    width: 90%;
    height: 100%;
    border-radius: 30px;
    -webkit-transition: all 1s;
    transition: all 1s;
    position: relative;
}
.progress-bar2{
    top: 0;
    left: 0;
    background: #7146f3;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 2rem 2rem;
    width: 75%;
    height: 100%;
    border-radius: 30px;
    transition: all 1s;
    position: relative;
}
.progress-bar3{
    top: 0;
    left: 0;
    background: #7146f3;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 2rem 2rem;
    width: 85%;
    height: 100%;
    border-radius: 30px;
    transition: all 1s;
    position: relative;
}
.progress-bar4{
    top: 0;
    left: 0;
    background: #7146f3;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 2rem 2rem;
    width: 65%;
    height: 100%;
    border-radius: 30px;
    transition: all 1s;
    position: relative;
}
/*=========================*/
/*=====SERVICES part========*/
/*=========================*/
#service{
    overflow: hidden;
	background:#b9b1b114;
	margin-bottom: 100px;
}
#service .content{
    display:none;
}
#service .span_1_of_5 {
    width: 17.72%;
}


/*=========================*/
/*=====MAIN FEATURES part========*/
/*=========================*/
#main-features{
    background-image: linear-gradient(rgba(0, 0, 0, 0.555),rgba(0, 0, 0, 0.589)),url("../images/bg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center left;
    overflow: hidden;
    text-align: center;
}
.main-f{
    text-align: center;
    padding: 20px 10px;
    background: #ffffff0a;
    outline: 1px solid #ffffff3b;
}
#main-features i{
    color: #6E44ED;
    font-size: 25px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    background: rgba(128, 113, 172, 0.048);
    position: relative;
    z-index: 2;
}
.mf-head{
    margin-bottom: 80px;
    padding-bottom: 20px;
    position: relative;
}
.mf-head h2{
    font-size: 30px;
    color:#fff;
    letter-spacing: 1px;
}
#main-features .main-f h6{
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
}
/*=========================*/
/*======PORTFOLIO PART========*/
/*=========================*/

#project{
	overflow:hidden;
}
.portfolio img{
	position: relative;
    margin-top: 30px;
    overflow: hidden;
}
.col-50{
	  margin-top: -272px;
}
/*#project nav button{
	background:transparent;
	border:none;
	text-transform:uppercase;
	padding-bottom:75px;
	padding-right: 20px;
	border-style:none;
}*/

/*=========================*/
/*======REVIEW PART========*/
/*=========================*/
#review{
  background-image: linear-gradient(rgb(0 0 0 / 77%),rgb(0 0 0 / 81%)),url(../images/bg3.jpg);
   background-size:cover;
   background-repeat: no-repeat;
   overflow: hidden;
   background-attachment: fixed;
   background-position: center;
   text-align: center;
}
.review i{
    color: #6E44ED;
    font-size: 25px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    background: rgba(128, 113, 172, 0.048);
    position: relative;
    z-index: 2;
}
.review h4{
    margin-bottom: 25px;
    color: white;
}
.review h5{
    color: #999;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
	padding-bottom:50px;
}
/*=========================*/
/*======PRIZE PART========*/
/*=========================*/
#prize{
    background: #f5f2f2f1;
    background-repeat: repeat;
    overflow: hidden;
}
.order{
    position: relative;
    background: #fff;
    padding: 60px 40px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 40px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 10px 40px rgba(255, 255, 255, 0.4);
    top: -15px;
    margin-top: 15px;
	border-bottom:100px solid #090928;
	border-right:20px solid #090928;
	border-left:20px solid #090928;
}

.o-2{
	border-bottom:100px solid #7146f3;;
	border-right:20px solid #7146f3;;
	border-left:20px solid #7146f3;;
}
.order h6{
	color: #333;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.order h4{
	font-size: 50px;
    margin-bottom: 15px;
    font-family: inherit;
    font-weight: 100;
}
.order span{
	font-size:2rem;
}
.order p{
	text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 12px;
	padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}
.order ul{
	    padding: 30px 0 0;
}
.order li{
	margin-bottom: 10px;
    color: #777;
	margin-top:10px;
	float:none;
}
.o-btn button{
	background:black;
	color:white !important;
}
#prize button{
    margin-top: -87px;
    margin-left: -65px;
    position: absolute;
}
/*=========================*/
/*======OUR TEAM PART========*/
/*=========================*/
#our-team{
    text-align: center;
    padding:50px 5px;
    overflow: hidden;
}
#our-team .span_1_of_4 {
    width: 22.8%;
}
#our-team h3{
    font-size: 1rem;
    color:#23003B;
    text-align: center;
    padding-bottom:10px;
}
#our-team img{
    border-radius: 50%;
	height:250px;
	width:250px;
}
#our-team h4{
   font-size: 35px;
   letter-spacing: 1px;
}

.team{
	margin:10px;
}
/*=========================*/
/*======testimonial PART========*/
/*=========================*/
#testimonial{
	background-image: linear-gradient(rgb(0 0 0 / 50%),rgb(0 0 0 / 86%)),url(../images/02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center top;
    padding: 100px;
}
#testimonial h4{
	font-size: 17px;
    font-weight: 300;
    font-style: italic;
}
#testimonial h6{
    font-size: 15px;
    font-weight: 500;
    color: #7146f3;
    position: relative;
	margin-top:30px;
	margin-bottom:15px;
}
#testimonial p{
	font-size: 19px;
    font-weight: 300;
    font-style: italic;
}
#testimonial h5{
   font-size:14px;
   color:white;
}

/*=========================*/
/*======BLOG PART========*/
/*=========================*/
#blog{
    overflow: hidden;
	background: #fafafa;
}
#blog a{
    overflow: hidden;
	 color:#6f5c5c;
}
.blog-1 img{
    height:200px;
}
#blog h4 a{
	font-weight:1000;
    color:black !important;
}
.info{
	font-size: 12px;
    color: #777 !important;
    margin-right: 10px ;
	margin-bottom: 10px;
	
}
.blog-1{
    background: #fff;
    padding: 30px 30px 50px;
    border-radius: 0px 0px 5px 5px;
    position: relative;
	border-radius:10px;
	border:1px  solid #0000001f;
}
.span_1_of_3 {
    width: 31.26%;
}
/*=========================*/
/*======Google Map PART========*/
/*=========================*/
 `		/* Set the size of the div element that contains the map */
#map{
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}
/*=========================*/
/*======CONTACT PART========*/
/*=========================*/

#contact h4{
	font-size:2rem;
	color:#320B5A;
	text-align:center;
}
.c{
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	height: 160px;
    border-radius: 10px;
	margin: 75px 14px;
}
.c-1{
	background-image:linear-gradient(#000000e6,#000000b5),url("../images/01.jpg");
}
.c-2{
	background-image:linear-gradient(#000000e6,#000000b5),url("../images/2.jpg");
}
.c-3{
	background-image:linear-gradient(#000000e6,#000000b5),url("../images/3.jpg");
}
#contact{
    overflow: hidden;
    width:100%;
    position: relative;
	background: rgba(255, 252, 252, 0.767);
}
#contact .btn{
    padding: 10px 30px;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
}
#contact h5{
	color: #fff;
    margin-bottom: 15px;
    font-size: 16px;
    position: relative;
    z-index: 2;;
}
#contact p{
	color: #aaa;
    font-size: 14px;
    text-transform: capitalize;
    position: relative;
    z-index: 2;	
}
input{
    width: 100%;
    padding: 10px;
    border: 0;
    background: #f7f8f9;
    border-radius: 5px;
	margin-bottom: 1rem;
	
}
textarea{
    width: 100%;
    padding: 10px;
    border: 0;
    background: #f7f8f9;
    border-radius: 5px;
	height: 145px;
    max-height: 145px;
    max-width: 100%;
}
/*=========================*/
/*======FOOTER PART========*/
/*=========================*/
footer{
    background: #000010;
    padding: 80px 0;
    text-align: center;
    overflow: hidden;
}
footer h2{
   color: #A9A8AD;
}
footer a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgba(100, 100, 100, 0.1);
}
footer a i{
    color: #fff;
    font-size: 25px;
    line-height: 35px;
    margin: 15px 5px;
}